<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Hibernate Dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/sales</property>
        <property name="connection.username">ski11up</property>
        <property name="connection.password">dbadmin</property>

        <!-- Connection Pool Settings -->
        <property name="connection.pool_size">1</property>

        <property name="show_sql">true</property>
		<property name="current_session_context_class">thread</property>
        <property name="hibernate.generate_statistics">false</property>

    </session-factory>
</hibernate-configuration>